<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <meta charset="UTF-8">
</head>
<body>
<header>
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
</header>

<main role='main'>
    <!-- Task + Memo-->
    <section id="tasks-section" class="section-tasks">
        <!-- 할 일 목록(Task) 컨테이너 -->
        <article id="task-list" class="task-container">
            <div class="article-header">
                <h4>Task</h4>
                <button class="add-btn">add+</button>
            </div>

            <div th:each="todo : ${todos}" class="todo-item d-flex align-items-center justify-content-between mb-3" th:data-id="${todo.id}">
                <!-- 왼쪽: 체크박스 + 텍스트 -->
                <div class="d-flex align-items-center flex-grow-1">
                    <input th:id="'todo-name-' + ${todo.id}" class="form-check-input todo-checkbox me-2" type="checkbox"
                           th:checked="${todo.isDone}">
                    <label th:for="'todo-name-' + ${todo.id}" th:text="${todo.name}" class="form-check-label todo-text mb-0"></label>
                </div>

                <!-- 오른쪽: 드롭다운 -->
                <div class="dropdown ms-2">
                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item update-btn" onclick="updateTodo(this)">수정</button></li>
                        <li><button class="dropdown-item remove-btn" onclick="deleteTodo(this)">삭제</button></li>
                    </ul>
                </div>
            </div>
        </article>

        <!-- Memo 목록 -->
        <article id="memo-list" class="memo-container">
            <div class="article-header">
                <h4>Memo</h4>
                <button class="add-btn">add+</button>
            </div>
        </article>

    </section>

    <!-- Time Tracker 영역 -->
    <section id="time-tracker-section" class="section-time-tracker">
        <article id="time-tracker" class="time-tracker-container">
            <div class="article-header">
                <h4>Time Tracker</h4>
                <button class="add-btn">add+</button>
            </div>
        </article>
    </section>
</main>

    <div th:replace="~{fragments/footer :: footer}"/>
</div> <!-- /container -->
<script src="/js/todo.js"></script>
</body>
</html>
